extends layout

block content
  h1= title
  p Welcome to #{title}
  if (!user)
    a(href="/login") Login
    br
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
block scriptContent
  script(type="text/javascript").
    var user = !{JSON.stringify(user)};